.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 3px 3px 4px black;
}

.arrow {
  cursor: pointer;
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 15px;
  vertical-align: middle;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 15px;
  
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 15px;

}

/*************** Quotation **********************/

.quotation{
  font-size: 30px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}

footer{
  margin:0;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
/***********************************************/