
.fade-enter {
  right: 100px;
}

.fade-enter-active {
  right:0px;
  transition: .5 ease-in all;
}

.fade-leave{
  right: 0px;
}

.fade-leave-active{
  right: -100px;
  transition: .5s ease-out all;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

